<div class="box vue-box">
  <img alt="preview" *ngIf="img_display" [src]="linkPreview.image" (error)="imgError($event)">
  <div class="box-side-padding is-clipped">
    <p class="mat-body-2 mb-1"><strong>{{linkPreview.truncated_title}}</strong></p>
    <div *ngIf="!createVue && !editVueDescription; else vueDescription" class="mat-body-2 mb-2">
      {{linkPreview.description}}
    </div>

    <ng-template #vueDescription>
      <form class="w-100" novalidate [formGroup]="vueForm" #vue_form="ngForm">
        <mat-form-field id="vue-description-textarea" class="w-100" appearance="outline">
          <textarea matInput formControlName="description" #input maxlength="160" placeholder="Express yourself for others out there..." type="text"
          cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" style="overflow: hidden;"
          >
          </textarea>
          <mat-hint align="end"><strong>{{input.value?.length || 0}}</strong>/160</mat-hint>
          <mat-error *ngIf="vueForm.get('description').hasError('required')">
           Your expression <strong>matters</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </ng-template>


    <drag-scroll class="disable-select vue-interest-scroll" style="height: 30px;" [scrollbar-hidden]="true" [drag-scroll-y-disabled]="true">
      <ng-container *ngIf="!createVue; else vueInterest">
        <mat-chip class="preview_tags ml-2 mr-2" *ngFor="let interest of linkPreview.interest_keyword">{{interest.name}}</mat-chip>
      </ng-container>
    </drag-scroll>

    <div *ngIf="editVue" class="d-flex justify-content-between" style="height: 20px;">
      <div>
        <mat-icon class="gray-color-text" style="font-size: 14px; height: 14px; width: 14px;">visibility</mat-icon>
        <span class="mat-caption" style="position: relative; bottom: 2.3px; margin-left: 4px;">{{linkPreview.viewed}}</span>
      </div>
      <span class="mat-caption">{{linkPreview.friendly_date}}</span>
      <div>
        <span class="mat-caption" style="position: relative; bottom: 2.3px; margin-right: 4px;">{{linkPreview.saved}}</span>
        <mat-icon class="gray-color-text" style="font-size: 14px; height: 14px; width: 14px;">favorite</mat-icon>
      </div>
    </div>

    <div *ngIf="!editVue" class="d-flex justify-content-between" style="height: 20px;">
      <div>
        <mat-icon class="gray-color-text" style="font-size: 14px; height: 14px; width: 14px;">place</mat-icon>
        <span class="mat-caption" style="position: relative; bottom: 2.3px; margin-left: 4px;">{{linkPreview.country}}</span>
      </div>
      <span class="mat-caption">{{linkPreview.friendly_date}}</span>
      <div>
        <span class="mat-caption" style="position: relative; bottom: 2.3px; margin-right: 4px;">{{linkPreview.age}}</span>
        <mat-icon class="gray-color-text" style="font-size: 14px; height: 14px; width: 14px;">cake</mat-icon>
      </div>
    </div>

  </div>



  <div *ngIf="createVue" class="d-flex justify-content-between align-items-center vue-action"
  [ngClass]="disableNewConversation ? 'vue-conversation-disabled' : 'vue-conversation-enabled'"
  [style.backgroundColor]="vueSubmitError ? 'var(--rich-red)' : null"
  >
    <div class="ml-2 nowrap">{{linkPreview.site_name ? linkPreview.site_name : linkPreview.domain_name}}</div>
    <button mat-icon-button  (click)="changeConversationSetting()"
    [matTooltip]="disableNewConversation ? 'Enable Conversation' : 'Disable Conversation' " matTooltipShowDelay="500"
    >
      <mat-icon class="vue-action-icon">forum</mat-icon>
    </button>

    <button *ngIf="vueSubmitStatus != null"
    mat-icon-button [disabled]="vueForm.invalid || currentSelectedInterest.length === 0" (click)="vueSubmit()"
    matTooltip="Publish" matTooltipShowDelay="500"
    >
      <mat-icon class="vue-action-icon">send</mat-icon>
    </button>

    <mat-spinner *ngIf="vueSubmitStatus === null" class="vue-loading-spinner white-loading-spinner mr-2">
    </mat-spinner>
  </div>

  <div *ngIf="editVue" class="d-flex justify-content-between align-items-center vue-action"
  [ngClass]="linkPreview.conversation_disabled ? 'vue-conversation-disabled' : 'vue-conversation-enabled'"
  [style.backgroundColor]="vueSubmitError ? 'var(--rich-red)' : null"
  >
    <drag-scroll class="disable-select ml-2 nowrap" style="height: 100%; width: 40%;" [scrollbar-hidden]="true" [drag-scroll-y-disabled]="true">
      <span style="line-height: 2.3;">{{linkPreview.site_name ? linkPreview.site_name : linkPreview.domain_name}}</span>
    </drag-scroll>
    <div>
      <button mat-icon-button
      [matTooltip]="linkPreview.conversation_disabled ? 'Enable Conversation' : 'Disable Conversation' " matTooltipShowDelay="500"
      (click)="vueConversationUpdate()"
      >
        <mat-icon class="vue-action-icon">forum</mat-icon>
      </button>

      <button *ngIf="!editVueDescription" mat-icon-button (click)="createVueForm(linkPreview.description); editVueDescription = true;"
      matTooltip="Edit description" matTooltipShowDelay="500"
      >
        <mat-icon class="vue-action-icon">edit</mat-icon>
      </button>

      <button *ngIf="editVueDescription" mat-icon-button (click)="vueDescriptionUpdate()" [disabled]="vueForm.invalid" type="button"
      matTooltip="Save description" matTooltipShowDelay="500"
      >
        <mat-icon class="vue-action-icon" [ngClass]="{'my-mat-success': vueForm.valid}">check_circle</mat-icon>
      </button>

      <button *ngIf="!vueDeleteLoading" mat-icon-button (click)="vueDelete()">
        <mat-icon class="vue-action-icon">delete_outline</mat-icon>
      </button>

      <mat-spinner class="vue-loading-spinner d-inline-block" style="top: 2.5px; right: 8px; margin-left: 20px;"
      *ngIf="vueDeleteLoading" [ngClass]="linkPreview.conversation_disabled ? 'blue-loading-spinner' : 'white-loading-spinner' ">
      </mat-spinner>

    </div>
  </div>

  <div *ngIf="!createVue && !editVue" class="d-flex justify-content-between align-items-center vue-action"
  [ngClass]="linkPreview.conversation_disabled ? 'vue-conversation-disabled' : 'vue-conversation-enabled'"
  [style.backgroundColor]="vueSubmitError ? 'var(--rich-red)' : null"
  >
  <drag-scroll class="disable-select ml-2 nowrap" style="height: 100%; width: 40%;" [scrollbar-hidden]="true" [drag-scroll-y-disabled]="true">
    <span style="line-height: 2.3;">{{linkPreview.site_name ? linkPreview.site_name : linkPreview.domain_name}}</span>
  </drag-scroll>
    <div>
      <button mat-icon-button>
        <mat-icon class="vue-action-icon">forum</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="vue-action-icon">favorite_border</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="vue-action-icon">more_vert</mat-icon>
      </button>
    </div>
  </div>

</div>


<ng-template #vueInterest>
  <ng-container *ngIf="currentSelectedInterest.length > 0; else noInterestSelected">
    <mat-chip class="preview_tags ml-2 mr-2" *ngFor="let interest of currentSelectedInterest">{{interest.name}}</mat-chip>
  </ng-container>

  <ng-template #noInterestSelected>
    <span class="mat-caption">Select your interest</span>
  </ng-template>
</ng-template>
