<div ly-dialog-content [lyPx]="0">

    <div *ngIf="ready">
      <button (click)="cropper.zoomIn()" mat-icon-button><mat-icon>add_box</mat-icon></button>
      <button (click)="cropper.zoomOut()" mat-icon-button><mat-icon>indeterminate_check_box</mat-icon></button>
      <button (click)="cropper.rotate(-90)" mat-icon-button><mat-icon>rotate_90_degrees_ccw</mat-icon></button>
    </div>

    <ly-img-cropper
      [config]="myConfig"
      [(scale)]="scale"
      (ready)="ready = true"
      (cleaned)="ready = false"
      (minScale)="minScale = $event"
      (error)="onError($event)"
    >
      <span>Drag and drop image</span>
    </ly-img-cropper>



  </div>

  <div container *ngIf="ready" [lyJustifyContent]="'space-between'" ly-dialog-actions>
    <button mat-raised-button disableRipple class="button-style-2" (click)="dialogRef.close()">CANCEL</button>
    <button mat-raised-button disableRipple class="button-style-1" (click)="dialogRef.close(cropper.crop())">DONE</button>
  </div>
