.circle {
  position: relative;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

  }
  .img-picker-overlay{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: hsla(0,0%,40%,0.8);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
  }



  .circle img {
    border-radius: 50%;
    object-fit: cover;
  }
  .circle .initials {
    text-align: center;
    /*font-size: 15px;*/
    line-height: 23px;
    letter-spacing: 0.2625px;
  }
