<div class="row justify-content-center align-items-stretch mt-5 flex-wrap-reverse">
  <div class="col-xl-5 col-lg-6 col-md-7 heading-container" style="margin: auto 0;">
    <p class="mb-4 mt-lg-0 mt-4" style="line-height: 1.2;font-weight: 500;font-family: Poppins;" [ngClass]="headlineClass"
    [class.text-center]="headlineClass === 'mat-title'"
    >
      A humble effort to help you explore your
      <span *ngIf="headlineClass !== 'mat-title'" class="swip-text-container" [style.top]="swipTextTopValue">
        <div class="swip-text">
          <ul class="flip4">
              <li [ngClass]="headlineClass" style="font-family: Poppins;">Self</li>
              <li [ngClass]="headlineClass" style="font-family: Poppins;">Curiosity</li>
              <li [ngClass]="headlineClass" style="font-family: Poppins;">Imagination</li>
              <li [ngClass]="headlineClass" style="font-family: Poppins;">Dreams</li>
          </ul>
        </div>
      </span>
      <span *ngIf="headlineClass === 'mat-title'" class="mat-title" style="font-weight: 600;"> Self</span>
    </p>
    <p class="mb-4" [class.text-center]="headlineClass === 'mat-title'" [ngClass]="headlineClass === 'mat-display-1' ? 'mat-title' : 'mat-subheading-1'">
      Connect with students, you can relate to
    </p>
    <div class="d-flex" [class.justify-content-center]="headlineClass === 'mat-title'">
      <button mat-raised-button disableRipple routerLink="/account" fragment="signup" class="button-style-1" [ngClass]="headlineClass === 'mat-title' ? 'w-75' : ''">
        Welcome Aboard
      </button>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-5 video-container">
    <video muted="true" preload="none" autoplay loop [poster]="hero_art_url">
      <source [src]="hero_video_url" type="video/mp4"/>
    </video>
  </div>
</div>

<div class="row justify-content-center" style="margin-top: 6rem; margin-bottom: 6rem;">
  <div class="col-xl-8 col-lg-10 col-12">
    <mat-tab-group mat-align-tabs="center" id="home-tab">
      <mat-tab label="How It Works">
        <ng-template matTabContent>
          <div class="d-flex align-items-stretch flex-wrap">
            <div class="d-flex align-items-center" [ngClass]="colClass" [class.justify-content-center]="headlineClass === 'mat-title'">
              <img [src]="girl_on_computer_url" height="200px">
              <div id="swip-img">
                <ul class="img-flip">
                    <li><img [src]="girl_diving_url" height="150px"></li>
                    <li><img [src]="girl_machine_url" height="150px" style="margin-left: 14px;"></li>
                    <li><img [src]="girl_painter_url" height="150px" style="margin-left: 7px;"></li>
                    <li><img [src]="girl_scientist_url" height="150px"></li>
                </ul>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center" [ngClass]="colClass">
              <div>
                <P class="mt-4" style="font-weight: 500;font-family: Poppins;" [ngClass]="headlineClass === 'mat-title' ? 'mat-title' : 'mat-headline'">
                  share what <strong class="pacific-blue-text">Captivates You</strong> and explore what captivates others.
                </P>
                <p class="mat-body-2">Your expression helps someone from the other side feel relatable and less isolated.</p>
                <p class="mat-body-2">And it helps you to connect with students you can relate to.</p>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-stretch flex-wrap-reverse" style="margin-top: 9rem;">
            <div class="d-flex justify-content-center align-items-center" [ngClass]="colClass">
              <div>
                <P class="mt-4" style="font-weight: 500;font-family: Poppins;"
                [ngClass]="headlineClass === 'mat-title' ? 'mat-title' : 'mat-headline'" [style.line-height]="swipConversationLineheight"
                >
                  Have out of the blue <strong class="pacific-blue-text">conversations</strong> like
                  <span *ngIf="swipConversationtext" id="swip-conversation-container">
                    <div id="swip-conversation-text">
                      <ul class="flip4">
                          <li class="mat-subheading-2">Where are the dragons?</li>
                          <li class="mat-subheading-2">Can zombies think?</li>
                          <li class="mat-subheading-2">How does the time machine work?</li>
                          <li class="mat-subheading-2">Are we all stardust?</li>
                      </ul>
                    </div>
                  </span>
                  <span *ngIf="!swipConversationtext" class="mat-subheading-2" style="font-weight: 600;">Are we all stardust?</span>
                </P>
                <p class="mat-body-2 mt-3">As goofy as it may sound, but that might be the most relatable conversation you ever had with someone other than yourself.</p>
              </div>
            </div>
            <div class="d-flex align-items-center" [ngClass]="colClass" [class.justify-content-center]="headlineClass === 'mat-title'" [class.justify-content-end]="headlineClass != 'mat-title'">
              <img [src]="girl_on_call_url" height="250px">
            </div>
          </div>

          <div class="d-flex align-items-stretch flex-wrap" style="margin-top: 9rem;">
            <div class="d-flex align-items-center" [ngClass]="colClass" [class.justify-content-center]="headlineClass === 'mat-title'">
              <img [src]="girl_painting_together_url" height="200px">
            </div>
            <div class="d-flex justify-content-center align-items-center" [ngClass]="colClass">
              <div>
                <P class="mt-4" style="font-weight: 500;font-family: Poppins;" [ngClass]="headlineClass === 'mat-title' ? 'mat-title' : 'mat-headline'">
                  <strong class="pacific-blue-text">Create</strong> something exciting, Together.
                </P>
                <p class="mat-body-2">Don’t just talk!&nbsp;&nbsp;<strong>create</strong>&nbsp;<strong>learn</strong>&nbsp;<strong>solve</strong>  and <strong>explore</strong>, Together.</p>
                <p class="mat-body-2">Every interaction comes with endless possibilities, and exploring them is what this platform is all about.</p>
                <div class="d-flex" [class.justify-content-center]="headlineClass === 'mat-title'">
                  <button mat-raised-button disableRipple routerLink="/account" fragment="signup" class="button-style-1" [ngClass]="headlineClass === 'mat-title' ? 'w-100' : ''">
                    Welcome Aboard
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab label="What's Wave">
        <ng-template matTabContent>
          <div style="margin: 0 auto; text-align: justify;" [ngClass]="headlineClass === 'mat-title' ? 'col-12' : 'col-8'">
            <p class="mat-subheading-2" style="font-family: Poppins;">We have a humble dream of creating opportunities for students that never existed before.</p>
            <p class="mat-subheading-2" style="font-family: Poppins;">What might happen if we take a group of students who are interested in something, curious about it, want to explore it, or want to do something in it. And we let them interact with one another.</p>
            <p class="mat-subheading-2" style="font-family: Poppins;">What would they do together? What would they create? What impact will they have on each other? What opportunities do such interactions bring?</p>
            <p class="mat-subheading-2" style="font-family: Poppins;">These are the questions we are seeking answers to. But regardless of the answers, one thing is certain that magic is bound to happen.</p>
            <p class="mat-subheading-2" style="font-family: Poppins;">To promote and facilitate such engagement among students, we are creating a web platform and we need your support to enable students to create magic at scale.</p>
            <p class="mat-subheading-2"><strong>Wave Team.</strong></p>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-xl-6 col-lg-10 col-12 mb-5">
    <mat-card style="background-color: #2f5362; box-shadow: var(--shadow-medium-spread);">
      <p class="mat-body-1 text-center" style="font-family: Poppins; color: white;">Our platform is still under development and we are working hard to make it live. If you are interested in contributing or joining our team</p>

      <div class="d-flex justify-content-center">
        <a href="https://forms.gle/s6S3mBvQBqGo8miB9" target="_blank" rel="noopener noreferrer" mat-raised-button disableRipple
        class="button-style-2 mt-2 text-decoration-none" [ngClass]="headlineClass === 'mat-title' ? 'w-75' : ''"
        >
          Contact Us
        </a>
      </div>
    </mat-card>
  </div>
</div>
