.model{
  width: 30%;
  height: 30%;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--shadow-cool);
}

.model-title{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.model-content{
  padding: 0px 30px;
}

.model-button-style-1{
  background-color: var(--pacific-blue);
  color: white;
}

.model-button-style-2{
  background-color: var(--gray-background);
  color: var(--pacific-blue);
}
.model-button-style-1:hover, .model-button-style-2:hover{
  outline: none;
  box-shadow: var(--shadow-dense);
}
