<div class="p-2 h-100 d-flex flex-column">
  <div class="d-flex w-100 justify-content-center" style="margin: 1.5rem 0;">
    <app-image-upload-widget [smallWidget]="false" borderRadius="50%">
    </app-image-upload-widget>
  </div>


  <form class="w-100 profile-form d-flex flex-column" novalidate>
    <div class="w-100 d-flex justify-content-center">
      <div class="w-75" style="padding-top: 0.8rem;">
        <p class="mat-caption profile-title">Username</p>
        <p class="mat-body-1">@{{userObj.username}}</p>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="w-100 d-flex justify-content-center">
      <div class="w-75" style="padding-top: 0.8rem;">
        <p class="mat-caption profile-title">Email</p>
        <p class="mat-body-1">{{userObj.email}}</p>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="w-100 d-flex justify-content-center">
      <div class="w-75" style="padding-top: 0.8rem;">
        <p class="mat-caption profile-title">Gender</p>
        <p class="mat-body-1">{{userObj.sex}}</p>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="w-100 d-flex justify-content-center">
      <div class="w-75" style="padding-top: 0.8rem;">
        <p class="mat-caption profile-title">Birthday</p>
        <p class="mat-body-1">{{userObj.dob |date:'MMM d, yy'}}</p>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="disabled-form-field w-100 d-flex flex-column align-items-center pb-2">
      <mat-form-field class="w-75" appearance="standard">
        <p class="mat-caption profile-title">Full Name</p>
        <input #fullName [disabled]="profileForm.fullName_editState" matInput type="text" placeholder="Enter Full Name"
        name="fullName" [value]="userObj.fullName"
        >
        <mat-spinner *ngIf="profileForm.fullName_editState === null"
        class="edit-mode form-field-loading-spinner blue-loading-spinner" matSuffix
        >
        </mat-spinner>
        <button *ngIf="profileForm.fullName_editState === true" class="edit-mode" matSuffix mat-icon-button (click)="onUpdateValue(fullName)">
          <mat-icon>mode_edit</mat-icon>
        </button>
        <button *ngIf="profileForm.fullName_editState === false" class="edit-mode" matSuffix mat-icon-button (click)="onUpdateValue(fullName)">
          <mat-icon>check_circle</mat-icon>
        </button>
        <mat-hint *ngIf="updateAccountFailed" class="my-mat-error">
          <strong>Failed to Update</strong>
        </mat-hint>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>

    <div class="disabled-form-field w-100 d-flex justify-content-center pb-2">
      <mat-form-field class="w-75" appearance="standard">
        <p class="mat-caption profile-title">Location</p>
        <input #location matInput disabled type="text" placeholder="Enter Pin Code"
        name="location" [value]="userObj.location.region+', '+userObj.location.state_or_province+', '+userObj.location.country_code"
        >
        <mat-hint *ngIf="locationFailed" [innerHtml]="locationFailedMessage">
        </mat-hint>
        <mat-spinner *ngIf="profileForm.location_editState === null"
        class="edit-mode form-field-loading-spinner blue-loading-spinner" matSuffix
        >
        </mat-spinner>
        <button *ngIf="profileForm.location_editState != null" class="edit-mode" matSuffix mat-icon-button style="height: 2rem; width: 2rem;"
        [disabled]="!profileForm.location_editState" (click)="onEditLocation()"
        >
          <mat-icon style="font-size: 24px;">share_location</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>

  <mat-accordion style="margin-top: 1.5rem; padding-bottom: 1.5rem;">
    <mat-expansion-panel [disabled]="passwordChangeSubmited" [expanded]="panelOpenState" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container *ngIf="!passwordChangeSubmited">
            Change Password
          </ng-container>
          <ng-container *ngIf="passwordChangeSubmited">
            <span class="my-mat-success">Password Changed Successfully</span>
          </ng-container>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form class="w-100" novalidate [formGroup]="passwordChangeForm" (ngSubmit)="onPasswordChangeSubmit()" #passwordChange="ngForm">
        <mat-grid-list cols="1" rowHeight="80px">
          <mat-grid-tile>
            <mat-form-field class="w-100">
              <mat-label><strong>Current Password</strong></mat-label>
              <input matInput formControlName="currentPassword" type="password" (input)="onPasswordFormChange()">
              <mat-error *ngIf="passwordChangeForm.get('currentPassword').hasError('required')">
                  Password is <strong class="my-mat-error">required</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="w-100">
              <mat-label><strong>New Password</strong></mat-label>
              <input matInput formControlName="newPassword" type="password" (input)="onPasswordFormChange()">
              <mat-error *ngIf="passwordChangeForm.get('newPassword').hasError('required')">
                  Password is <strong class="my-mat-error">required</strong>
              </mat-error>
              <mat-error *ngIf="passwordChangeForm.get('newPassword').hasError('pattern') && !passwordChangeForm.get('newPassword').hasError('required')">
                password must be atlest <strong class="my-mat-error">8 chractors long</strong> containg one <strong class="my-mat-error">digit</strong>, <strong class="my-mat-error">symbol</strong>, <strong class="my-mat-error">uppercase</strong>, and <strong class="my-mat-error">lowercase</strong> letters.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="w-100">
              <mat-label><strong>Confirm Password</strong></mat-label>
              <input matInput formControlName="confirmPassword" type="password" (input)="onPasswordFormChange()">
              <mat-hint *ngIf="passwordChangeForm.hasError('misMatch') && !passwordChangeForm.get('confirmPassword').hasError('required')">
                  Password <strong class="my-mat-error">does not Match</strong>
              </mat-hint>
              <mat-error *ngIf="passwordChangeForm.get('confirmPassword').hasError('required')">
                  Confirm Password is <strong class="my-mat-error">required.</strong>
              </mat-error>
              <mat-hint *ngIf="passwordChangeFormError" [innerHtml]="passwordChangeFormErrorMessage" class="my-mat-error">
              </mat-hint>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <button [disabled]="passwordChangeForm.invalid" class="button-style-1 button-load-style w-50" type="submit"
            mat-raised-button disableRipple
            >
              <mat-spinner *ngIf="passwordChangeLoadStatus; else passwordChangeNotLoading" class="button-loading-spinner white-loading-spinner">
              </mat-spinner>
              <ng-template #passwordChangeNotLoading>
                Submit
              </ng-template>
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>

    </mat-expansion-panel>
  </mat-accordion>

</div>
