<div class="model d-flex flex-column justify-content-between">
  <div class="model-title mb-2">
    <p class="mat-headline"><strong>Confirm</strong></p>
    <mat-divider></mat-divider>
  </div>
  <div class="model-content d-flex align-items-center justify-content-center">
    <p class="mat-caption">{{message}}</p>
  </div>
  <div class="mt-2">
    <button mat-stroked-button disableRipple class="model-button-style-2 w-50" style="height: 2.5rem; border-radius: 0px 0px 0px 10px;"
    (click)="alertResponse(false)"
    >
      No
    </button>
    <button mat-stroked-button disableRipple class="model-button-style-1 w-50" style="height: 2.5rem; border-radius: 0px 0px 10px 0px;"
    (click)="alertResponse(true)"
    >
      Yes
    </button>
  </div>
</div>
